* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1;
  /* font-weight: 400; */
}

.container {
  max-width: 60rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-container {
  width: 65%;
  color: #fff;
  border-radius: 5px;
  padding: 25px;
}

.quote-container-a {
  background-color: #733fc8;
}

.quote-header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.quote-img {
  border-radius: 50%;
  width: 2.8rem;
}

.quote-header-text {
  padding-left: 15px;
}

.quote-name {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

.quote-name-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
}

.quote-highlight {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 3.5rem;
}

.quote-text {
  font-size: 1.3rem;
  font-weight: 300;
  color: #cfcfcf;
  color: rgba(255, 255, 255, 0.5);
}
