* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: HankenGrotesk;
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #e7e9fb;
}

.container {
  border-radius: 32px;
  width: 736px;
  height: 512px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
}

.score-box {
  border-radius: 32px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: grid;
  align-items: center;
  justify-items: center;
}

.score-view {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  background-color: hsla(256, 72%, 46%, 1);
  display: grid;
  justify-content: center;
}

.result-header {
  font-family: HankenGrotesk;
  font-size: 24px;
  color: hsl(241, 100%, 89%);
}

.score-number {
  font-family: HankenGrotesk;
  font-weight: 700;
  font-size: 72px;
  color: #fff;
  align-self: end;
}

.score-total {
  font-family: HankenGrotesk;
  font-size: 18px;
  color: hsl(241, 100%, 89%);
  text-align: center;
}

.score-text {
  font-family: HankenGrotesk;
  font-size: 32px;
  color: #fff;
  align-self: center;
}

.score-after-text {
  width: 260px;
  font-family: HankenGrotesk;
  font-size: 18px;
  text-align: center;
  color: hsl(241, 100%, 89%);
  align-self: start;
}

.summary {
  display: grid;
  width: 288px;
  height: 450px;
  justify-items: stretch;
  align-items: center;

  justify-self: center;
  align-self: center;

  row-gap: 20px;
}

.summary-text {
  font-family: HankenGrotesk;
  font-size: 24px;
  font-weight: 800;
  color: hsl(224, 30%, 27%);
}

.reaction-tittle {
  font-family: HankenGrotesk;
  font-size: 18px;
  font-weight: 600;
  color: hsl(0, 100%, 67%);
  align-self: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.reaction-metric {
  background-color: rgba(255, 85, 85, 0.05);
  display: flex;
  justify-content: space-around;

  border-radius: 10px;
  align-self: stretch;
}

.memory-tittle {
  font-family: HankenGrotesk;
  font-size: 18px;
  font-weight: 600;
  color: hsl(39, 100%, 56%);
  align-self: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.memory-metric {
  background-color: rgba(255, 178, 30, 0.05);
  display: flex;
  justify-content: space-around;

  border-radius: 10px;
  align-self: stretch;
}

.verbal-tittle {
  font-family: HankenGrotesk;
  font-size: 18px;
  font-weight: 600;
  color: hsl(166, 100%, 37%);
  align-self: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.verbal-metric {
  background-color: rgba(0, 187, 143, 0.05);
  display: flex;
  justify-content: space-around;

  border-radius: 10px;
  align-self: stretch;
}

.visual-tittle {
  font-family: HankenGrotesk;
  font-size: 18px;
  font-weight: 600;
  color: hsl(234, 85%, 45%);
  align-self: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.visual-metric {
  background-color: rgba(17, 37, 214, 0.05);
  display: flex;
  justify-content: space-around;

  border-radius: 10px;
  align-self: stretch;
}

.score {
  font-family: HankenGrotesk;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
}

.metric-score {
  display: inline-block;
  color: hsl(224, 30%, 27%);
}

.metric-default {
  display: inline-block;
  color: hsl(224, 30%, 50%);
}

.continue-btn {
  font-family: HankenGrotesk;
  font-size: 18px;
  background-color: #303b59;
  color: #fff;
  border-radius: 50px;
  height: 56px;
}

.continue-btn:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
